<template name="searchResultsList">
    <h3>Displaying {{numberOfDisplayingVenues}} from {{numberOfVenues}} venues</h3>
    <div class="searchResultsList">
        <div class="table-responsive table-striped">
            <table class="table table-hover table-striped table-borderless">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>City</th>
                    <th>Street Address</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                </tr>
                </thead>
                <tbody>
                {{#each searchResults}}
                    {{> searchResult}}
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>